In [7]:
import pandas as pd

In [10]:
#Read in the data from the raw_data folder
federal_funds_effective = pd.read_csv('../../resources/raw_data/DFF.csv')
c_p_i = pd.read_csv('../../resources/raw_data/MEDCPIM158SFRBCLE.csv')
unemployment_rate = pd.read_csv('../../resources/raw_data/UNRATE.csv')

In [11]:
#print the first 5 rows of the data
federal_funds_effective.head()

         DATE   DFF
0  2000-01-01  3.99
1  2000-01-02  3.99
2  2000-01-03  5.43
3  2000-01-04  5.38
4  2000-01-05  5.41

In [12]:
#rename the column DFF to Federal Funds Effective Rate
federal_funds_effective = federal_funds_effective.rename(columns={'DFF': 'Federal Funds Effective Rate'})

#change Date column to datetime
federal_funds_effective['DATE'] = pd.to_datetime(federal_funds_effective['DATE'])

federal_funds_effective.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8767 entries, 0 to 8766
Data columns (total 2 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   DATE                          8767 non-null   datetime64[ns]
 1   Federal Funds Effective Rate  8767 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 137.1 KB

In [13]:
federal_funds_effective.to_csv('../../resources/clean_data/federal_funds_effective.csv', index=False)

In [14]:
c_p_i = c_p_i.rename(columns={'MEDCPIM158SFRBCLE': 'Median Consumer Price Index'})

In [15]:
c_p_i['DATE'] = pd.to_datetime(c_p_i['DATE'])

In [16]:
c_p_i.to_csv('../../resources/clean_data/consumer_price_index.csv', index=False)

In [17]:
unemployment_rate = unemployment_rate.rename(columns={'UNRATE': 'Unemployment Rate'})

In [18]:
unemployment_rate ['DATE'] = pd.to_datetime(unemployment_rate['DATE'])

In [19]:
unemployment_rate.dropna()

          DATE  Unemployment Rate
0   2000-01-01                4.0
1   2000-02-01                4.1
2   2000-03-01                4.0
3   2000-04-01                3.8
4   2000-05-01                4.0
..         ...                ...
284 2023-09-01                3.8
285 2023-10-01                3.8
286 2023-11-01                3.7
287 2023-12-01                3.7
288 2024-01-01                3.7

[289 rows x 2 columns]

In [20]:
unemployment_rate.to_csv('../../resources/clean_data/unemployment_rate.csv', index=False)