In [42]:
import pandas as pd

In [43]:
federal_funds_effective = pd.read_csv('../../resources/raw_data/DFF.csv')
c_p_i = pd.read_csv('../../resources/raw_data/MEDCPIM158SFRBCLE.csv')
unemployment_rate = pd.read_csv('../../resources/raw_data/UNRATE.csv')

In [44]:
federal_funds_effective.head()

         DATE   DFF
0  2000-01-01  3.99
1  2000-01-02  3.99
2  2000-01-03  5.43
3  2000-01-04  5.38
4  2000-01-05  5.41

In [45]:
#rename the column DFF to Federal Funds Effective Rate
federal_funds_effective = federal_funds_effective.rename(columns={'DFF': 'Federal Funds Effective Rate'})

#change Date column to datetime
federal_funds_effective['DATE'] = pd.to_datetime(federal_funds_effective['DATE'])

#Group the data by year and sum the 'Federal Funds Effective Rate' for each year
federal_funds_effective_annual = federal_funds_effective.groupby(federal_funds_effective['DATE'].dt.year)['Federal Funds Effective Rate'].mean()

federal_funds_effective_annual.head()

DATE
2000    6.237432
2001    3.878356
2002    1.666795
2003    1.126493
2004    1.350328
Name: Federal Funds Effective Rate, dtype: float64

In [46]:
federal_funds_effective_annual.to_csv('../../resources/clean_data/federal_funds_effective.csv', index=False)

In [47]:
c_p_i = c_p_i.rename(columns={'MEDCPIM158SFRBCLE': 'Median Consumer Price Index'})

In [48]:
c_p_i['DATE'] = pd.to_datetime(c_p_i['DATE'])

#Group the data by year and mean of the 'Median Consumer Price Index' for each year
c_p_i_annual = c_p_i.groupby(c_p_i['DATE'].dt.year)['Median Consumer Price Index'].mean()

c_p_i_annual.head()

DATE
2000    3.029770
2001    3.266541
2002    2.591918
2003    1.680593
2004    2.432897
Name: Median Consumer Price Index, dtype: float64

In [54]:
c_p_i_annual.to_csv('../../resources/clean_data/consumer_price_index.csv', index=False)

In [50]:
unemployment_rate = unemployment_rate.rename(columns={'UNRATE': 'Unemployment Rate'})

In [55]:
unemployment_rate ['DATE'] = pd.to_datetime(unemployment_rate['DATE'])  

#Group the data by year and mean of the 'Unemployment Rate' for each year
unemployment_rate_annual = unemployment_rate.groupby(unemployment_rate['DATE'].dt.year)['Unemployment Rate'].mean()

unemployment_rate_annual.head()

DATE
2000    3.966667
2001    4.741667
2002    5.783333
2003    5.991667
2004    5.541667
Name: Unemployment Rate, dtype: float64

In [52]:
unemployment_rate.dropna()

          DATE  Unemployment Rate
0   2000-01-01                4.0
1   2000-02-01                4.1
2   2000-03-01                4.0
3   2000-04-01                3.8
4   2000-05-01                4.0
..         ...                ...
284 2023-09-01                3.8
285 2023-10-01                3.8
286 2023-11-01                3.7
287 2023-12-01                3.7
288 2024-01-01                3.7

[289 rows x 2 columns]

In [56]:
unemployment_rate_annual.to_csv('../../resources/clean_data/unemployment_rate.csv', index=False)