In [1]:
import pandas as pd

In [2]:
# Read the data from the fed_current_tax_receipts CSV file
tax_receipts_df = pd.read_csv('fed_current_tax_receipts.csv')

In [3]:
# Print the first 5 rows of the dataframe
print(tax_receipts_df.head())

         DATE  W006RC1Q027SBEA
0  2000-01-01         1272.073
1  2000-04-01         1284.187
2  2000-07-01         1291.650
3  2000-10-01         1306.215
4  2001-01-01         1301.000

In [4]:
# rename the columns to 'Date' and 'Federal Tax Receipts'
tax_receipts_df.rename(columns = {'DATE': 'Date', 'W006RC1Q027SBEA': 'Federal Tax Receipts'}, inplace = True)
tax_receipts_df['Date'] = pd.to_datetime(tax_receipts_df['Date'])
tax_receipts_df.set_index('Date', inplace = True)
tax_receipts_df

            Federal Tax Receipts
Date
2000-01-01              1272.073
2000-04-01              1284.187
2000-07-01              1291.650
2000-10-01              1306.215
2001-01-01              1301.000
...                          ...
2022-07-01              3131.082
2022-10-01              3077.903
2023-01-01              2781.062
2023-04-01              2788.722
2023-07-01              2803.825

[95 rows x 1 columns]

In [5]:
# Read the data from the Fed_surplus_deficit CSV file
fed_surplus_deficit = pd.read_csv('fed_surplus_deficit.csv')

In [6]:
# Print the first 5 rows of the dataframe
print(fed_surplus_deficit.head())

         DATE  MTSDS133FMS
0  2000-01-01      62152.0
1  2000-02-01     -41734.0
2  2000-03-01     -35380.0
3  2000-04-01     159497.0
4  2000-05-01      -3611.0

In [7]:
# Rename the colums to 'Date' and 'Federal Surplus/Deficit'
fed_surplus_deficit.rename(columns = {'DATE': 'Date', 'MTSDS133FMS': 'Federal Surplus/Deficit'}, inplace = True)
fed_surplus_deficit['Date'] = pd.to_datetime(fed_surplus_deficit['Date'])
fed_surplus_deficit.set_index('Date', inplace = True)
fed_surplus_deficit

            Federal Surplus/Deficit
Date
2000-01-01             62152.000000
2000-02-01            -41734.000000
2000-03-01            -35380.000000
2000-04-01            159497.000000
2000-05-01             -3611.000000
...                             ...
2023-08-01             89255.572694
2023-09-01           -170982.200875
2023-10-01            -66563.551130
2023-11-01           -314012.002287
2023-12-01           -129365.414920

[288 rows x 1 columns]

In [ ]:
# export the dataframes to CSV files
tax_receipts_df.to_csv('clean_fed_current_tax_receipts.csv')
fed_surplus_deficit.to_csv('clean_fed_surplus_deficit.csv')